{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block body %}
<div class="container">
    <h1>글쓰기</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{review_form.media}}
        {% for field in review_form %}
        <div class="form-group">
            <div><label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}: </label></div>
            {{ field }}
        </div>
        {% endfor %}
        {% bootstrap_button button_type="submit" content="OK" %}
        {% bootstrap_button button_type="reset" content="Cancel" %}
    </form>
</div>
{% endblock %}